/* ++++++++++++++++++++++++++++++++++++++++++++++ INFO CONTACTO +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.contactForm{
    color: $ocre-2;
    background-color: $lila-2;
    border-radius: 10px;
    width: 50vw;
    margin: 5vh auto;
    padding: 40px;
  }