/* generales */

/* html {
    font-size: 80%;
 }
  */
 *{
    margin:0px;
    padding: 0px;
    font-family: 'Glory', sans-serif;
}

body{
    font-family: 'Montserrat';
}

/*VARIABLES*/
    //COLORS
    $bg-1: #9F7183;
    $bg-2: #CDB0BD;
    $lila-1: #D5C3CB;
    $lila-2: rgb(158,129,160);
    $lila-3: #E5B9B7;
    $gris-1: #8F857B;
    $ocre-1: #F3D16E;
    $ocre-2: white ; /* #F2E2C7 */

    //https://www.colourlovers.com/palette/1269287/hot_tub_w_lavander
    //https://www.colourlovers.com/palette/2326762/Make-Up_Powder

